# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.TestDecoratorProject.iml
# Datasource local storage ignored files
/../../../../../../../:\RiderProjects\GithubProjects\TestDecoratorProject\.idea\.idea.TestDecoratorProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
